* {
	margin: 0;
	padding: 0;

}

body {
	background-color: #F4F4F4; 
	font-family: 'Roboto', sans-serif;
	color: #545454;
	margin: 0 auto;
}

/*top section*/
.top {
	background-color: #a5d2da;
}

/*navigation*/
.navbar-brand, .nav a {
	color: #545454;;
}

.fa {
	padding-right: 15px;
}

.nav a:hover {
	border-radius: 5px;
	background-color: #545454;
}

/*services*/
.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.services {
	background-color: white;
	padding-top: 50px;
}

